/* Empty. Add your own CSS if you like */
body {
  background-image: url("../img/zutapozadina.png");
  background-size: 100%;
  background-repeat: no-repeat;
  /*background-color: white;*/
}

.inputParts {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 90%;
  height: 50px !important;
  color: #bbbcbf;
  font-size: 18px;
  display: block;
  border: 1px black !important;
  text-align: left;
  padding-left: 10px !important;
}

.firstScreenBtn {
  /*border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;*/
  width: 90%;
  height: 50px !important;
  color: #bbbcbf;
  font-size: 18px;
  display: inline;
  border: none;
  text-align: left;
  padding-left: 10px !important;
}

.icons {
  text-align: left;
  font-size: 72px;
  color: #bbbcbf;
  display: inline;
}

#submit {
  background-color: #FEDB65;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 90%;
  height: 50px !important;
  color: #bbbcbf;
  font-size: 18px;
  display: block;
  border: none;
  text-align: center;
}

.screenBtn {
  background-color: rgb(245, 130, 33);
  background-size: 180%;
  background-position: left 50%;
  background-repeat: no-repeat;
  margin-left: 7%;
  margin-bottom: 40px;
  width: 86%;
  height: 150px;
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px black;
  display: block;
  border-radius: 8px !important;
  border: none;
}

.secondScreenBtn {
  background-image: url("../img/receive.jpg");
  background-size: 130%;
  background-position: left 30%;
  background-repeat: no-repeat;
  margin-left: 7%;
  margin-bottom: 40px;
  width: 86%;
  height: 90px;
  color: white;
  font-size: 30px;
  text-shadow: 1.5px 1.5px black;
  display: block;
  border-radius: 8px;
  border: none;
}

#thex {
  background-image: url("../img/zutixic.png");
  background-size: 400%;
  background-position: 50% 19%;
  width: 90%;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#company {
  background-image: url("../img/cakna.png");
  background-size: 550%;
  background-position: 49% 25%;
  width: 85%;
  height: 100px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  background-image: url("../img/cips.png");
  background-size: 550%;
  background-position: 49% 49%;
  margin-bottom: -30px;
  margin-top: -10px;
  width: 70%;
  height: 210px;
  margin-left: 15%;
}

a {
    text-decoration: none !important;
}

.inputParts {
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
    height: 60px;
    color: white;
    border: 2px solid #c09f80;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.userInput {
  padding-top: 15px !important;
  padding-left: 15px !important;
  width: 85%;
  font-family: verdana;
  font-stretch: wider;
  font-size: 1.4em !important;
  color: #c09f80 !important;
  height: 50px;
  font-weight: 300;
  background: transparent;
}

.infoPanel {
    margin-top: 100px;
    margin-left: 5%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    width: 90%;
    height: 40%;
    background-color: #EEEFF1;
    border-radius: 3px;
}

.formType {
  text-align: center;
  color: white;
  text-shadow: 1.5px 1.5px black;
  margin-top: 100px !important;
}

#emptyFields {
 display: none;
 min-width: 250px;
 margin-left: -125px;
 background-color: rgb(245, 130, 33);
 color: white;
 text-shadow: 1px 1px black;
 text-align: center;
 border-radius: 2px;
 padding: 16px;
 position: fixed;
 z-index: 2147483646;
 left: 50%;
 bottom: 30px;
}

#map {
  margin-top: 10px;
  margin-left: 5%;
  margin-bottom: 40px !important;
  height: 250px;
  width: 90%;
}

#personsList {
  padding-top: 5px;
  margin-top: 10px;
  margin-left: 5%;
  height: 330px;
  width: 90%;
}

#personsList a {
  color: #463A30 !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #c09f80 !important;
   border: none !important;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: rgb(245, 130, 33) !important;
   border: none !important;
}

.table-striped > thead {
   background-color: rgb(245, 130, 33) !important;
   border: none !important;
}

.deliveryBoys {
  margin-top: 25px;
  margin-left: 16px;
  color: white;
  text-align: left;
}

::-webkit-input-placeholder {
   color: #bbbcbf !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #bbbcbf !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #bbbcbf !important;
}

:-ms-input-placeholder {
   color: #bbbcbf !important;
}
