/* Empty. Add your own CSS if you like */
body {
  background-image: url("../img/zutapozadina.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#map {
  margin-top: 10px;
  margin-left: 5%;
  margin-bottom: 40px !important;
  height: 250px;
  width: 90%;
}

#personsList {
  padding-top: 5px;
  margin-top: 10px;
  margin-left: 2.5%;
  height: auto;
  width: 95%;
}

.deliveryBoys {
  margin-top: 170px;
  font-size: 17px;
  color: rgb(164, 153, 123);
  text-align: center;
}

.header {
  width: 100%;
  top: 0;
  height: auto;
  display: block;
}

#thex {
  display: block;
  float: left;
  width: 50%;
  height: 100px;
}

.rect {
  background-color: #FDF5DF;
  color: #9B8D6B;
  width: 26px;
  height: 26px;
  margin-left: 70%;
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
  padding-top: 3px;
}

#company {
  display: block;
  float: left;
  background-image: url("../img/cakna.png");
  background-size: 450%;
  background-position: 49% 25%;
  width: 50%;
  height: 100px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgb(251, 238, 205) !important;
   color: rgb(164, 153, 123) !important;
   border: 1px solid white !important;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: rgb( 249, 240, 217) !important;
   color: rgb(164, 153, 123) !important;
   border: 1px solid white !important;
}

.table-striped > thead {
   /*background-color: rgb(245, 130, 33) !important;
   border: none !important;*/
   display: none !important;
}
