/* Empty. Add your own CSS if you like */
body {
  background-image: url("../img/zutapozadina.png");
  background-size: 100%;
  background-repeat: no-repeat;
  /*background-color: white;*/
}

.inputParts {
  width: 90% !important;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  margin-left: 5%;
  height: 50px !important;
  border: none !important;
}

.firstScreenBtn {
  display: block;
  float: left;
  width: 84% !important;
  background-color: transparent;
  color: #bbbcbf;
  font-size: 18px;
  height: 50px !important;
  border: none;
  text-align: left;
  padding-left: 5px !important;
}

.icons {
  text-align: left;
  font-size: 28px !important;
  color: #bbbcbf !important;
  display: block;
  float: left;
  margin-top: 10px !important;
  margin-left: 15px !important;
}

#submit {
  width: 90% !important;
  height: 50px !important;
  background-color: #FEDB65;
  border-radius: 5px;
  margin-left: 5%;
  margin-bottom: 30px;
  color: #4f5051;
  font-size: 18px;
  display: block;
  border: none;
  text-align: center;
}

.header {
  width: 100%;
  top: 0;
  height: auto;
  display: block;
}

#thex {
  display: block;
  float: left;
  width: 50%;
  height: 100px;
}

.rect {
  background-color: #FFF7C3;
  color: #D4C142;
  width: 26px;
  height: 26px;
  margin-left: 70%;
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
  padding-top: 3px;
}

#company {
  display: block;
  float: left;
  background-image: url("../img/cakna.png");
  background-size: 450%;
  background-position: 49% 25%;
  width: 50%;
  height: 100px;
  /*margin-top: -10px;
  margin-left: auto;
  margin-right: auto;*/
}

.infoPanel {
  margin-top: 220px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 94%;
  height: 42%;
  background-color: #EEEFF1;
  border-radius: 3px;
}

#emptyFields {
 display: none;
 min-width: 250px;
 margin-left: -125px;
 background-color: rgb(245, 130, 33);
 color: white;
 text-shadow: 1px 1px black;
 text-align: center;
 border-radius: 2px;
 padding: 16px;
 position: fixed;
 z-index: 2147483646;
 left: 50%;
 bottom: 30px;
}
