/* Empty. Add your own CSS if you like */
body {
  background-color: #F6F8FC;
  background-size: 100%;
  background-repeat: no-repeat;
  /*background-color: white;*/
}

.firstScreenBtn {
  background-image: url("../img/rozedugme.png");
  background-size: 1000%;
  background-position: 20% 70%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 80%;
  height: 50px;
  color: rgb(172, 84, 84);
  font-size: 18px;
  display: block;
  border: none;
}

#thex {
  background-image: url("../img/rozexic.png");
  background-size: 400%;
  background-position: 9% 19%;
  width: 90%;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#company {
  background-image: url("../img/cakna.png");
  background-size: 550%;
  background-position: 49% 25%;
  width: 85%;
  height: 100px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  /*background-image: url("../img/soda.png");
  background-position: 13% 49%;*/
  background-size: 100%;
  margin-bottom: 60px;
  margin-top: -10px;
  width: 70%;
  height: 220px;
  margin-left: 15%;
  background-repeat: no-repeat;
}

a {
    text-decoration: none !important;
}
